Redirect /demo https://docs.google.com/forms/d/e/1FAIpQLSclRKPt9tqN358LG_quzqzn_k66y6eOzYnzZ5LNfpIgeAFV6w/viewform?usp=sf_link
Redirect /sponsor http://umigv.com/sponsor.pdf
Redirect /join https://docs.google.com/a/umich.edu/forms/d/e/1FAIpQLSenSE-Kxc-KLfheWion0wup512uQUe-X5SE_yJW37FVytQoxQ/viewform?c=0&w=1
